<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Login page</title>
</head>
<body>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-4 my-lg-5">
            <h2><b>Please sign in</b></h2>
            <p style="color: #e80000" th:if="${loginError}" class="error">Wrong username or password</p>
            <form class="my-3" method="post" action="/login">
                <div class="input-group">
                    <input name="j_username" type="username" class="form-control" id="username" placeholder="Username">
                </div>
                <div class="input-group">
                    <input name="j_password" type="password" class="form-control" id="Password" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-primary btn-block my-2">Sign in</button>
            </form>
        </div>
    </div>
</div>


</body>

</html>